.font{
    font-family: 'Acme', sans-serif;
}
.fontm{
    font-family: 'Montserrat', sans-serif;
}
.wrapper {
    width: 100%;
    height: 100vh;
    display: block;
    position: relative;
    margin: 0 auto;
}
.wrapper::after {
    content: "";
    background-image: url("salary_whisper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -99;   
}
.header p{
    color: white;
    background: #236E6C;
    font-size: 40px;
    padding: 5%;
    width: 600px;
    border-radius: 50%;
    margin: 0 auto;
}
.header{
    text-align: center;
    padding-top: 3%;
}
.region::before{
    content: "";
    display: inline-block;
    width: 80px;
    height: 80px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #B75C5C;
    position: relative;
    top: 30px;
    left: 30px;
    z-index: -1;
    box-shadow: 5px 3px 4px grey;
}
.degree::before{
    content: "";
    display: inline-block;
    width: 80px;
    height: 80px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #B75C5C;
    position: relative;
    top: 30px;
    left: 30px;
    z-index: -1;
    box-shadow: 5px 3px 4px grey;
}
.region, .degree{
    width: 100%;
}
.content{
    text-align: center;
}
.list{
    display: inline-flex;
    font-size: 25px;
    width: 100%;
}
a{
    color: black;
}
a:hover{
    color: khaki;
}
.searchbar{
    margin-top: 3em;
}
.searchbar input{
    background: #fff;
    padding: 1em;
    width: 40%;
    border-radius: 10em;
    transition: box-shadow 300ms ease;
    margin: 0 auto;
    border-style: none;
    font-size: 1.3em;
}
.searchbar input:focus{
    outline: none;  
    box-shadow: 3px 6px 5px grey;
    border: none;
}
.fa-search{
    font-size: 2em;
    margin-left: -50px;
}
.searchbar p{
    margin-left: -22%;
    font-size: 16px;
    margin-bottom: 0.5%;
}
.r_header p{
    color: white;
    background: #236E6C;
    font-size: 32px;
    padding: 2%;
}
.r_list{
    display: inline-flex;
    /* text-align: right; */
    float: right;
    margin-top: -30px;
    width: 35%;
    font-size: 18px;
    
}
.r_degree::before, .r_region::before{
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #B75C5C;
    position: relative;
    top: 15px;
    left: 15px;
    z-index: -1;
    box-shadow: 5px 3px 4px grey;
}
.r_region, .r_degree{
    margin-right: 3%;
}
.r_header a{
    text-decoration: none;
    color: white;
}
.clear{
    clear: both;
}
table{
    background-color: cornsilk;
    border-radius: 10px;
    margin-left: 5%;
    width: 90%;
}
th, td {
    padding: .5em 1em;
}
thead{
    color: darkolivegreen;
    font-size: 18px;
}
.data{
    margin-top: 10%;
}
.d_title{
    font-weight: 600;
    font-size: 20px;
    margin-left: 10%;
}
.check{
    color: darkorange;
}
i{
    cursor: pointer;
}
.r_footer{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.fa-chart-bar{
    margin-left: 5px;
    background: black;
    color: white;
    padding: 3px 5px;
    border-radius: 8px;
}
.chart_div{
    margin-left: 15%;
    display: none;
}
.fa-angle-double-right{
    font-size: 35px;
    color: darkslategray;
    margin-top: 10%;
}
.popup{
    position: absolute;
    width: 200px;
    margin-left: 30%;
    margin-top: -1%;
    background: white;
    border-radius: 10px;
    background-color: white;
    box-shadow: 3px 3px 3px grey;
    text-align: center;
    padding-top: 2%;
    z-index: 3;
}
.hide{
    -webkit-transition: opacity 600ms, visibility 600ms;
    transition: opacity 600ms, visibility 600ms;
    opacity: 0;
    visibility: hidden;
}
.show{
    visibility: visible;
    opacity: 1;
}
.popup select{
    border: none;
    font-size: 16px;
    text-indent: 3px;
    margin-bottom: 13px;
    width: 80%;
}
.popshow input{
    font-size: 16px;
    width: 70%;
}
.submit{
    background: cadetblue;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 5%;
    margin-top: 10%;
    padding: 5px 15px;
    color: white;
    cursor: pointer;
}
.slider input{
    width: 30%;
}

.slider{
    display: none;
}
